@model dynamic

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HBPlay</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
</head>
<body style="margin: 0; font-family: 'Poppins', sans-serif; background: #ffffff; font-size: 14px">
    <div style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-image: url(@(Model.UrlStatic)/email-template-background-banner.png);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      ">
        <header>
            <table style="width: 100%">
                <tbody>
                    <tr style="height: 0">
                        <td>
                            <img alt=""
                                 src="@(Model.UrlStatic)/hbplay-white.png"
                                 height="30px" />
                        </td>
                        <td style="text-align: right">
                            <span style="font-size: 16px; line-height: 30px; color: #ffffff">@Model.CurrentTime</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </header>

        <main>
            <div style="margin: 0; margin-top: 70px; padding: 92px 30px 115px; background: #ffffff; border-radius: 30px; text-align: center">
                <div style="width: 100%; max-width: 489px; margin: 0 auto">
                    <h1 style="margin: 0; font-size: 24px; font-weight: 500; color: #1f1f1f">Mã OTP</h1>
                    <p style="margin: 0; margin-top: 17px; font-size: 16px; font-weight: 500">Chào @Model.Username,</p>
                    <p style="margin: 0; margin-top: 17px; font-weight: 500; letter-spacing: 0.56px">
                        Cảm ơn bạn đã chọn <span style="color: #17a2b8">HBPlay Company</span>. Sử dụng OTP sau để hoàn tất thủ tục của bạn. OTP có hiệu
                        lực trong <span style="font-weight: 600; color: #ba3d4f">10 phút</span>. Không chia sẻ mã này với người khác, bao gồm cả nhân
                        viên HBPlay.
                    </p>
                    <p style="margin: 0; margin-top: 60px; font-size: 40px; font-weight: 600; letter-spacing: 25px; color: #ba3d4f">@Model.OTPCode</p>
                </div>
            </div>

            <p style="max-width: 400px; margin: 0 auto; margin-top: 90px; text-align: center; font-weight: 500; color: #8c8c8c">
                Cần trợ giúp? Hãy hỏi tại
                <a href="mailto:support@hbplay.vn" style="color: #499fb6; text-decoration: none">support@hbplay.vn</a>
                hoặc truy cập Trung tâm trợ giúp của chúng tôi
                <a style="color: #499fb6; text-decoration: none">Help Center</a>
            </p>
        </main>

        <footer style="width: 100%; max-width: 490px; margin: 20px auto 0; text-align: center; border-top: 1px solid #e6ebf1">
            <p style="margin: 0; margin-top: 40px; font-size: 16px; font-weight: 600; color: #434343">HBPlay Company</p>
            <p style="margin: 0; margin-top: 8px; color: #434343">Địa chỉ TP.HCM</p>
            <div style="margin: 0; margin-top: 16px">
                <a style="display: inline-block">
                    <img width="36px"
                         alt="Facebook"
                         src="@(Model.UrlStatic)/email-template-icon-facebook.png" />
                </a>
                <a style="display: inline-block; margin-left: 8px">
                    <img width="36px"
                         alt="Instagram"
                         src="@(Model.UrlStatic)/email-template-icon-instagram.png" />
                </a>
                <a style="display: inline-block; margin-left: 8px">
                    <img width="36px"
                         alt="Twitter"
                         src="@(Model.UrlStatic)/email-template-icon-twitter.png" />
                </a>
                <a style="display: inline-block; margin-left: 8px">
                    <img width="36px"
                         alt="Youtube"
                         src="@(Model.UrlStatic)/email-template-icon-youtube.png" />
                </a>
            </div>
            <p style="margin: 0; margin-top: 16px; color: #434343">Copyright © 2024 Company. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
